* {
  margin: 0;
  padding: 0;
}

body{
background-color: #171508;
color: white;
}

.z4 li{
  display: inline-block;
  vertical-align: middle;
  margin-right: 35px;
  text-decoration: none ;
}

.z4, .logo{
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  margin-top: 20px;
  text-decoration: none ;
  font-family:sans-serif;
}

header{
  display: flex;
  justify-content: center;
}

.z4 a{
  font-family: arial;
  font-size: 20px;
  color: white;
  vertical-align: middle;
  text-decoration: none ;
}

.z4 a:hover{
  color: #FF6C00;
}

.s1{
  background-color: black;
  border: 2px solid white;
  color: white;
  font-family: sans-serif;
  font-weight: bolder;
  margin-left: 450px;
  margin-top: 25px;
  width: 100px;
  height: 30px;
  border-radius: 8px;
}

.x6:hover{
  background-color: white;
  color: black;
}


.s2{
  text-decoration: none;
  color: white;
}

.x1, .x2{
  border-left:  7px solid #FF6C00;
  margin-left: 40px;
  padding-left: 10px;
}

.logo{
  margin-right: 20px;
}

.a1{
  border-bottom: 3px solid #FF6C00;
  color: #FF6C00;
}

.x1{
  font-size: 80px;
  font-weight: bolder;
  margin-top: 40px;
  margin-left: 40px;
  font-family:sans-serif;
}

.x2{
  width: 45%;
  font-size: 25px;
  margin-left: 40px;
  font-weight: bold;
  font-family:sans-serif;
}

.logo{
  margin-right: 40px;
}

.x4{
  margin-top: 100px;
  height: 5px;
  margin-left: 130px;
  line-height: 35px;
  font-family:sans-serif;
  font-size: 40px;
}

.x3{
  margin-left: 270px;
  height: 20px;
}

.x5{
  font-size: 30px;
  font-family: serif;
}

.x6{
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
  width: 130px;
  height: 40px;
  color: white;
  font-weight: bolder;
}


.x7{
  margin-left: 600px;
  margin-top: -35px;
  font-size: 40px;
  height: 5px;
  line-height: 40px;
  font-family:sans-serif;
}

.x8{
  margin-left: 750px;
  margin-bottom: 120px;
  height: 20px;
}

.x9{
  margin-bottom: -5px;
}

.x10{
  margin-left: 1050px;
  margin-top: -150px;
  font-size: 40px;
  height: 5px;
  line-height: 40px;
  font-family:sans-serif;
}

.x11{
  margin-left: 1170px;
}

.x12{
  margin-left: 130px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.x13{
  margin-left: 270px;
}

.x14{
  margin-left: 600px;
  margin-top: -250px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.x15{
  margin-left: 750px;
}

.x16{
  margin-left: 1050px;
  margin-top: -260px;
  font-size: 40px;
  height: 5px;
  line-height: 40px;
  font-family:sans-serif;
}

.x17{
  margin-left: 1200px;
}

.x18{
  margin-left: 130px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.x19{
  margin-left: 270px;
}

.x20{
  margin-left: 600px;
  margin-top: -250px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.x21{
  margin-left: 750px;
}

.c1{
  font-size: 60px;
  margin-left: 50px;
  font-weight: bolder;
  font-family:sans-serif;
}

.c2{
  margin-left: 130px;
  margin-top: 120px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.c3{
  margin-left: 270px;
}

.c4{
  margin-left: 600px;
  margin-top: -220px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.c5{
  margin-left: 750px;
  margin-top: -40px;
}

.c6{
  margin-left: 1050px;
  margin-top: -270px;
  font-size: 40px;
  height: 5px;
  line-height: 40px;
  font-family:sans-serif;
}

.c7{
  margin-left: 1200px;
  margin-top: 10px;
}

.c8{
  margin-left: 130px;
  margin-top: 120px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.c9{
  margin-left: 270px;
  margin-top: 35px;
}

.c10{
  margin-left: 600px;
  margin-top: -300px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.c11{
  margin-left: 750px;
  margin-top: -10px;
}

.v1{
  font-size: 60px;
  margin-left: 50px;
  margin-top: 150px;
  font-weight: bolder;
  font-family:sans-serif;
}

.v2{
  margin-left: 130px;
  margin-top: 120px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.v3{
  margin-left: 270px;
  margin-top: 10px;
}

.v4{
  margin-left: 600px;
  margin-top: -230px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.v5{
  margin-left: 750px;
  margin-top: -30px;
}

.b1{
  font-size: 60px;
  margin-left: 50px;
  margin-top: 150px;
  font-weight: bolder;
  font-family:sans-serif;
}

.b2{
  margin-left: 130px;
  margin-top: 120px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.b3{
  margin-left: 230px;
  margin-top: 25px;
}

.b4{
  margin-left: 600px;
  margin-top: -320px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.b5{
  margin-left: 710px;
  margin-top: 70px;
}

.b6{
  margin-left: 1050px;
  margin-top: -340px;
  font-size: 40px;
  height: 5px;
  line-height: 40px;
  font-family:sans-serif;
}

.b7{
  margin-left: 1200px;
  margin-top: 80px;
}

.b8{
  margin-left: 130px;
  margin-top: 70px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.b9{
  margin-left: 260px;
  margin-top: 10px;
}

.b10{
  margin-left: 600px;
  margin-top: -270px;
  font-size: 40px;
  height: 5px;
  line-height: 35px;
  font-family:sans-serif;
}

.b11{
  margin-left: 710px;
  margin-top: 20px;
}

.c1, .v1, .b1{
  border-left: 7px solid #FF6C00;
  margin-left: 40px;
  padding-left: 10px;
}
